.home{
    padding-top: 50px;
    width: 100%;
}
.home ul{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 50px;
    z-index: 2000;
    background: white;
}
.home ul li{
    color: aqua;
    background: #000;
    padding: 10px;
    list-style: none;
    z-index: 10000;
    cursor: pointer;
    margin: 5px 30px;
    border-radius: 7px;
}

.box-movies-list{
    padding-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.box-movie{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.movie{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: orange;
    color: white;
width: 250px;
height: 400px;
transition: background  0.5s;
margin: 15px;

}
.movie img{
    width: 250px;
    height: 180px;
    translate: -5px -5px 0;
    cursor: pointer;
    
}
.movie :hover{
    translate: -10px -10px 0;
}
.movie div hr{
   display: none;
}


@media screen and (max-width: 480px) {
    .home{
        padding-top: 50px;
        display: grid;
        grid-template-columns: auto;
    }
    .home ul{
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 50px;
        z-index: 2000;
        margin-left: -30px;
        margin-top: 50px;
    }
    .home ul li{
        margin: 5px;
    }
    .box-movies-list{
        padding-top: 50px;
        display: grid;
        grid-template-columns: auto ;
        place-content: center;
    }
    .movie{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: orange;
        color: white;
        width:350px;
        height: 500px;
        transition: background  0.5s;
        margin: 5px;
        padding-bottom: 20px;
    }
    .movie img{
        width: 350px;
        height: 200px;
        translate: -5px -5px 0;
        cursor: pointer;  
    }
    .movie div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        line-height: 14px;
    }
    .movie div hr{
        width: 100%;
        color: grey;
        display: flex;
        font-weight: 100;
    }
}