/* Basic styling for the search container */
.product-search-container {
    position: relative;
    width: 300px; /* Adjust width as needed */
    margin: 0 auto; /* Center the search box */
  }
  
  /* Styling for the search input */
  .product-search-input {
    top: 100px;
    left: 69%;
    background: black;
    color: grey;
    display: flex;
    justify-content: right;
    position: absolute;
    width: 220px;
    padding: 10px;
    z-index: 10;
    border: 3px solid orange;
    font-size: 16px;
    box-sizing: border-box; /* Ensure padding is included in the width */
  }
  
  /* Styling for the search button */
  .product-search-button {
    position: relative;
/* Adjust color as needed */
    color: #fff;
    margin: 0px 10px;
    background: none;
    cursor: pointer;
    font-size: 23px;
  }
  
  /* Styling for the search button on hover */
  .product-search-button:hover {
    color: grey;
    width: 26px; /* Adjust color as needed */
  }
  
  .results-of-search{
    background: white;
  }
  .fasearch{
    position: relative;
    z-index: 1200;
    color: yellow;
    font-size: 30px;
  }
  .sb{
    width: 40px;height: 40px;background: white;
    cursor: pointer;
    position: relative;

  }