.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 30px;
    background: rgba(19, 19, 19, 0.808);
    top: 0;
    position: sticky;
    z-index: 999;
}

.navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
    height: 60px;
    color: white;
   
}
.navbar nav h1{
    
    font-size: 20px;
}

.buy-now{
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
